@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
	font-family: "Lato";
	color: #424551;
}

.wrapper {
	min-height: 100%;
	position: relative;
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	margin: 0 auto;
	max-width: 1275px;
	padding-left: 15px;
	padding-right: 15px;

}

.header__container {}

.form__line {
	padding: 15px;
	background-color: gray;
}

.form__label {
	font-size: 20px;
	font-weight: 700;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form__line:not(:last-child) {
	margin-bottom: 25px;
}

.form__input {
	padding: 0px 15px;
	height: 20px;
	color: #7A956B;
}

.form__input--radio,
.form__input--chk {
	width: auto;
	vertical-align: middle;
}

.form__button {
	background-color: #7A956B;
	box-shadow: 0 7px 0px rgba(0, 0, 0, 0.8);
	padding: 15px;
	transition: all 0.3s ease 0s;
}

.form__button:hover {
	transform: translate(0px, 3px);
	box-shadow: 0 5px 0px rgba(0, 0, 0, 0.8);
	background-color: #637a57;
}


/* ============================================== */

.page {
	padding: 180px 0;
}

.page__container {}

.page__block {
	display: flex;
	gap: 105px;
	align-items: center;
}

.block-page {}

.block-page__column {}

.block-page__media {
	flex-shrink: 0;
}

.block-page__media img {
	max-width: 100%;
}

.block-page__second-column {}

.block-page__title {
	color: #1E212C;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 8px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.block-page__subtitle {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.2;
	color: #1E212C;
}

.block-page__subtitle:not(:last-child) {
	margin-bottom: 40px;
}

.block-page__form {}

.form-block {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	gap: 25px;
}

.form-block:not(:last-child) {
	margin-bottom: 48px;
}


.form-block__line {
	display: flex;
	flex-direction: column;
}

.form-block__label {
	line-height: 1.6;
	margin-bottom: 8px;
}

.form-block__text {
	width: 100%;
	resize: vertical;
	min-height: 128px;
	background: #FFFFFF;
	border: 1px solid #D7DADD;
	border-radius: 4px;
	padding: 13px 0 0 16px;
}

.form-block__line--1 {
	flex: 0 1 100%;
}

.form-block__input {
	padding: 13px 16px;
	width: 340px;
	height: 52px;
	background: #FFFFFF;
	border: 1px solid #D7DADD;
	border-radius: 4px;
}


.checkbox {
	position: relative;
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 24px;
}

.checkbox__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	display: flex;
}



.checkbox__input:checked+.checkbox__label::before {
	background: #FF3F3A url('../img/check.svg') center / 70% no-repeat;
}

.checkbox__label {
	cursor: pointer;
	display: inline-flex;
	gap: 12px;
	line-height: 1.6;
	flex: 1 0 315px;
}

.checkbox__label::before {
	content: "";
	flex: 0 0 16px;
	width: 16px;
	background: #FF3F3A;
	height: 16px;
	border-radius: 3px;
}

.checkbox__label:not(:last-child)::before {
	margin-top: 5px;
}

.checkbox__button {
	display: flex;
	flex: 0 1 340px;
}

.button {
	text-align: center;
	border-radius: 4px;
	letter-spacing: 0.5px;
	font-weight: 700;
	line-height: 1.25;
	color: #fff;
	display: inline-block;
	padding: 16px 40px;
	position: relative;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.button span {
	position: relative;
	z-index: 2;
}

.button::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease 0s;
	opacity: 0;
	border-radius: 4px;
	background: linear-gradient(55.95deg, #ca3530 0%, #c94d05 100%);
}

.button:hover::before {
	opacity: 1;
}

.checkbox__text {}